/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2016, 8:14:22 PM
    Author     : r_v21
*/
body
{
    margin: 0px;
    font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

header
{
    height: max-content;
    padding: 1em 1em 0.5em;
    font-size: 40px;
    font-family: "Ubuntu", sans-serif;
    margin: 0em;
    color: rgb(13,60,85);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

footer
{
    border: 0em;
    bottom: 1em;
    background-color: rgb(9,154,218); 
    padding: 1em;
    color: whitesmoke;
    font-size: 16px;
    margin: 0em;
    box-shadow: .5px .5px 4px rgba(0, 0, 0, .5); 
}
nav
{
    border: 0em;
    background-color: rgb(9,154,218); 
    padding: 0em;
    color: whitesmoke;
    font-size: 16px;
    margin: 0em;
    box-shadow: .5px .5px 4px rgba(0, 0, 0, .5);    
}
nav ul
{
    list-style-type: none;
    padding: 0em; 
    margin: 0em;
}
nav ul li , .dropdown
{
    display: inline-block;
    position: relative;
    padding: 0em;
}

a
{    
    text-decoration: none;
}
nav ul li a, .dropbtn
{
    display: inline-block;  
    padding: 8px 1em;
    color: whitesmoke;
}
nav ul li a:hover,.dropdown:hover
{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    background-color: rgb(13,60,85);
}

nav ul li .dropdown-content
{
    display: none;
    min-width: 150px;
    position: absolute;
    background-color: rgb(249,249,249);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    
}

nav ul li .dropdown-content a
{
    display: block;
    padding: .5em .5em .5em .5em;
    box-shadow: none;    
    text-decoration: none;
    color: black;
}
nav ul li .dropdown-content a:hover
{
    background-color: rgb(240,240,240);
}
nav ul li.dropdown:hover .dropdown-content
{
    display: block;
}

.pemscolor 
{
    color: rgb(9,154,218);
}

.loginbox
{
    background: linear-gradient(whitesmoke, rgb(9,154,218));
    border-radius: 100px 100px 100px 0px;
    margin: 10.313em auto;
    height: max-content;
    width: 40%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    padding: 1.5em 1.5em .5em;
}

.txtbox
{
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: rgb(249,249,249);
    min-width: 50%;
    max-width: 54%;
    padding:.5em;
    color: black;
    font-size: 16px;
    display: inline-block;    
    border-radius: 5px;
}

button
{
    display: block;
    background-color: rgb(13,60,85);
    border: 0em;
    overflow: auto;
    border-radius: 10px;
    padding: .4em 1.2em;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    
}

button:hover
{    
    background-color: rgba(13,60,85,.8  );
}

button:disabled
{
    background-color: rgba(13,60,85,.8  );
}
.innerdiv
{
    height: content-box;
    width: content-box;
    margin: 1.5em auto 0em;
    padding: 1em 1em 0em;
}

pre
{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.password
{
    float: right; 
    font-size: 14px; 
    margin: 0px 18px;
    font-family: "Courier New", Courier, monospace; 
    text-decoration: underline;
}

.box
{
    width: 31%;
    background-color: rgb(240,240,240);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);    
    padding: .5em .5em .5em .5em;
    color: black;
    margin: 5px;
    border-radius: 24px;
}

.disptable 
{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);    
    padding: .5em;
    color: black;
    margin: 0em auto;
    border-collapse: collapse;
    width: 100%; 
}


.disptable td
{
    text-align: left;
    padding: .5em .5em .5em 2em; 
/*    font-weight: bold;*/
}


#displaytable td
{
    text-align: center;
    padding: .5em;
    font-weight: normal;
    /*border-right-color: whitesmoke;*/
    border: 2.5px solid white;
    border-left: none;
    border-top: none;
}
#displaytable th
{
    background-color: rgb(13,60,85);
    color: white;
    padding: .5em 1em;     
    border: 2.5px solid white;
    border-left: none;
}
#displaytable tr:nth-child(even)
{
    background-color: rgb(240,240,240);
}

.tab
{   
    background-color: rgba(240,240,240,0.4);
    padding: 0.5em 1em;
    font-size: 16px;
    margin: 0px 0px 2px 0px;
    display: inline-block;
    cursor: pointer;
    color: black;
}
.tab:hover
{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);    
    background-color: rgba(240,240,240,1);
}

#newth
{    
    background-color: rgb(13,60,85);
    color: white;
    border-top: 2.5px solid white;    
    padding: 5px;
}
.righttdborder
{
    border-left: 2.5px solid white;
}

.textboxlabel
{
    display: block;
    margin: 0px;
    font-size: 10px;
    font-stretch: ultra-condensed;
    font-variant-position: super;
    color: red;
}

sup
{
    color: red;
    font-size: 10px;
}
select
{
    width: 160px;
}