<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" type="text/css" href="../../pems.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
    	     
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        
        <title></title>
        <style>
        
        </style>
    </head>
    <body ng-app="PEMSapp" ng-controller="maincontrol">
    
        <!--<div >-->
            
            <div style="width:70%; overflow-x:auto; margin: 2em auto; padding: 10px;">
                                
                <div style="margin: 0px; padding: 0px; overflow: auto;" ng-controller="tabscontrol as t">
                    <a class="tab" href="#/" ng-click="fetchdata('active')" ng-style="t.tab1">Active Employees</a>
                    <a class="tab" href="#/"ng-click="fetchdata('inactive')" ng-style="t.tab2">Inactive Employees</a>                    
                    <a class="tab" href="#NewEmployee" ng-click="addemp()" ng-style="t.tab3">Add Employees</a>                    
                    
                </div>

                <div ng-view ></div>
            </div>
        <!--</div>-->
        <script src="../controllers/pems.js"></script>
    </body>
</html>